*{
   max-width: 98%;
   background-color: rgb(182, 168, 151);
   text-align: center;
  font-size: 1.5rem;
}
.paragaraph-title{
    background-color: #000000;
    font-size: 0.75rem;
    color: rgb(255, 9, 9);
    box-shadow: 1rem 1rem 1rem  ;
    border-radius: 5px;
}
.paragaraph-2{
   background-color:#252525;
    font-size: 0.75rem;
    box-shadow: 1rem 1rem 1rem  ;
    border-radius: 5px;
    color: rgb(255, 0, 136);
}
.paragaraph-3{
  background-color: #000000;
    font-size: 0.75rem; 
    box-shadow: 1rem 1rem 1rem  ;
    border-radius: 5px;
    color: rgb(128, 255, 0);
}
.paragaraph-4{
    background-color: #000000;
    font-size: 0.75rem;
    color: rgb(255, 0, 0);
    box-shadow: 1rem 1rem 1rem  ;
    border-radius: 5px;
}